.contact-section {
    margin-top: 6rem;
}
.contact-title {
    font-size: 2rem;
}

.contact-title::after {
    content: "";
    display: block;
    width: 5%;
    height: 0.2rem;
    background-color: #6370e2;
    margin: 0.6rem auto 0;
}

.contact-form {
    display: block;
    padding: 1rem 1rem 0.6rem 1rem;
    background-color: #1a1d35;
    border-radius: 0.3rem;
    width: 40rem;
    margin: 0 auto;
}

.message-input {
    height: 7rem;
    resize: none;
    width: 40rem;
    background-color: #181c31;
    outline: none;
    border: none;
    box-shadow: none;
}

.textarea-container::before {
    content: "";
    position: absolute;
    width: 100.5%;
    height: 2px;
    background: #6370e2;
    transform: scaleX(0);
    transition: all 0.2s ease;
    top: 7.4rem;
}

.textarea-container:focus-within::before {
    transform: scaleX(1);
}

.input-container::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background: #6370e2;
    transform: scaleX(0);
    transition: all 0.2s ease;
    top: 3.4rem;
    left: 0;
}

.input-container:focus-within::before {
    transform: scaleX(1);
}

.contact-form-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
}

.contact-btn{
    margin-top: 1.5rem;
    height: 2.9rem;
    width: 6rem;
    border-radius: 0.4rem;
    background-color: #6370e2;
    font-size: 1.1rem;
    outline: none;
    border: none;
    box-shadow: none;
    cursor: pointer;
}

button:hover {
    filter: brightness(1.2);
}

input{
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    outline: none;
    font-size: 2.2rem;
    padding: 0;
    line-height: 80px;
    background: transparent;
    transition: 0.1s ease;
    z-index: 1111;
    border: none;
    box-shadow: none;
}

.label-line{
    position: absolute;
    font-size: 1.3em;
    color: #f0ffff;
    transition: 0.2s ease;
    padding: 0 12px;

}

input:focus, .label-line{
    color: white;
}

input:focus + .label-line{
    height: 30px;
    line-height: 30px;
    padding: 0 7px;
    transform: translate(0, -3px) scale(0.68);
    z-index: 1111;
}

.input-container{
    position: relative;
    width: 40rem;
    height: 3.5rem;
    line-height: 80px;
    background-color: transparent;
    border-bottom : 2px solid black;
}

.textarea-container{
    position: relative;
    border-bottom: solid 2px black;
}

.message-input{
    /*width: 100%;*/
    /*height: 100%;*/
    /*position: absolute;*/
    /*left: 0;*/
    /*outline: none;*/
    /*font-size: 2.2rem;*/
    /*padding: 0;*/
    /*line-height: 80px;*/
    /*background: transparent;*/
    /*transition: 0.1s ease;*/
    /*z-index: 1111;*/
    /*border: none;*/
    /*box-shadow: none;*/
}

.message-input:focus + .label-line{
    height: 30px;
    line-height: 30px;
    padding: 0 7px;
    transform: translate(0, -3px) scale(0.68);
    z-index: 1111;
}


