.contact-title {
    font-size: 2rem;
}

.contact-title::after {
    content: "";
    display: block;
    width: 5%;
    height: 0.2rem;
    background-color: #6370e2;
    margin: 0.6rem auto 0;
}

.contact-form {
    display: block;
    padding: 1rem 1rem 0.6rem 1rem;
    background-color: #1a1d35;
    border-radius: 0.3rem;
    width: 40rem;
    margin: 0 auto;
}

.contact-form input {
    background-color: #100d1e;
    width: 40rem;
    height: 3rem;
    outline: none;
    border: none;
    box-shadow: none;
    color: #fff;
}
.contact-form input ::after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 2px;
    background-color: white;
    transition: width 0.3s ease-out, left 0.3s ease-out;}

.contact-form input:last-of-type
{
    height: 7rem;
}

.contact-form-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
}

.contact-btn{
    margin-top: 1.5rem;
    height: 2.9rem;
    width: 6rem;
    border-radius: 0.4rem;
    background-color: #6370e2;
    font-size: 1.1rem;
    outline: none;
    border: none;
    box-shadow: none;
    cursor: pointer;

}

button:hover {
    filter: brightness(1.2);
}

