.about-me-profile span::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 100%;
    transform: translateY(-50%);
    width: 90px;
    height: 2px;
    background-color: #1a1443;
}

