.about-me-profile span::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 100%;
    transform: translateY(-50%);
    width: 90px;
    height: 2px;
    background-color: #1a1443;
}

@media(min-width: 650px) and (max-width: 1400px) {
    .about-me-container {
        display: grid;
        grid-template-columns: 1fr;
        gap: 1rem;
    }

    .about-me-cell2 {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .about-me-profile {
        width: 100%;
    }

    .profile-img {
        align-self: flex-start;
    }

    .about-me-title {
        align-self: flex-start;
    }
}

@media(min-width: 100px) and (max-width: 649px) {
    .about-me-cell2 {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .about-me-title {
        margin-top: 1rem;
        text-align: center;
        rotate: 0deg;
    }
}
