.experience-section{
    margin-top: 5rem;
    position: relative;
    display: block;
}

.experience-section .title-container{
    width: 7rem !important;
}

.experience-svg-background{
    position: absolute;
    top: 0;
    left: 0;
}

.experience-section-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: stretch;
    gap: 0;
    align-items: center;
}

.experience-section-cell1{
    height: 27rem;
    width: auto;
}

.experience-section-cell2{
    width: 40rem;
}



