.experience-section{
    margin-top: 5rem;
    position: relative;
    display: block;
}

.experience-section .title-container{
    width: 7rem !important;
}

.experience-svg-background{
    position: absolute;
    top: 0;
    left: 0;
}

.experience-section-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: stretch;
    gap: 0;
    align-items: center;
}

.experience-section-cell1{
    height: 27rem;
    width: auto;
}

.experience-section-cell2{
    width: 40rem;
}


@media(min-width: 651px) and (max-width: 1000px) {
    .experience-section-cell1{
        display: none;
    }

    .experience-section-container{
        display: flex;
        justify-content: center;
    }
}

@media (max-width: 650px) {
    .experience-section-cell2{
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .experience-section-container{
        display: flex;
        justify-content: center;
    }

    .experience-section-cell1{
        display: none;
    }
}



@media (min-width: 450px) and (max-width: 650px) {

    .experience-section-cell2{
        width: 30rem !important;
    }

    .experience-section .card{
        width: 30rem !important;
    }

}

@media (max-width: 449px) {

   .experience-section-cell2{
       width: 26rem !important;
   }

   .experience-section .card{
       width: 26rem !important;
   }
}





