.card {
    height: 8rem;
    width: 100%;
    border-radius: 10px;
    position: relative;
    background-color: #14172c;
    padding: 0;
    border: 1px solid rgba(42, 46, 90, 1);
    transition: border 0.3s ease-in-out;
}

.card::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 10px;
    border: 2px solid transparent;
    background-image: linear-gradient(
            to right top,
            #7b00ff 0%,
            #9a00ff 30%,
            #4b00ff 60%,
            #2c00ff 100%
    );
    -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
    -webkit-mask-composite: destination-out;
    mask-composite: exclude;
    pointer-events: none;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    z-index: 1;
}

.card:hover::before {
    opacity: 1;
}

.card-inner{
    display: grid;
    grid-template-columns: 0.15fr 0.8fr;
    grid-template-rows: 0.3fr 0.4fr 0.1fr;
    height: 100%;
}

.card-cell1 {
    grid-column: 1 / span 2;
    color: #16F2B3;
}

.card-cell2 {
    grid-column: 1;
    grid-row: 2 / span 2;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-cell3 {
    grid-column: 2;
    grid-row: 2;
    font-size: 22px;
    font-weight: 500;
    text-align: left;
    padding: 0;
}

.card-cell4 {
    grid-column: 2;
    grid-row: 3;
    text-align: left;
    font-weight: 500;
}

.card-svg{
    position: absolute;
    bottom: 0;
    height: 11.8rem;
    width: auto;
    left: 0;

}
