.certification-section{
   display: flex;
    flex-direction: row;
    margin: 2rem 0 auto;
    width: 100%;
    justify-content: center;
    gap: 1rem;
}
.certificates-article{
    height: 12rem;
    width: 37.6rem;
    background-color: purple;
}

.certificates-description{
    width: 19rem;
    height: 12rem;
    background-color: orangered;
}

.certificates-description h3{
    font-size: 2rem;
    font-weight: bolder;
    margin: 0;
    text-align: left;
}

.certificates-description h5{
    color: gray;
    font-size: 1.2rem;
    font-weight: lighter;
    margin-top: 1rem;
    margin-bottom: 1rem;
    text-align: left;
}

.certificates-description p{
    text-align: left;
    font-size: 1.2rem;
}