.certification-section{
    display: flex;
    flex-direction: row;
    width: 75.82%;
    justify-content: left;
    gap: 0;
    margin: 0 auto;
}

.certificates-article{
    height: 25rem;
    width: 40rem;
}

.certificates-container{
    position: relative;
    height: 25rem;
    width: 40rem;
}

.certificate-container{
    filter: blur(1px) grayscale(30%);
    position: absolute;
}

.certificate-container:hover{
    filter: blur(0) grayscale(0);
}

.certificate-one-container{
    left: 0;
    top: 15%;
}

.certificate-two-container{
    left: 29%;
    top: 10%;
    z-index: 1;
}

.certificate-three-container{
    right: 6%;
    top: 15%;
}

.certificate{
    transition: transform 0.3s ease-in-out, filter 0.3s ease-in-out;
}

.certificate:hover{
    transform: scale(1.1);
    transition: filter 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.certificate-one, .certificate-three{
    height: 15rem;
    width: 12.5rem;
    border: 2px solid white;
    border-radius: 5px;
}

.certificate-two{
    height: 17.5rem;
    width: 14.25rem;
    border: 2px solid white;
    border-radius: 6px;
}

.certificates-description{
    width: 19rem;
    height: 12rem;
    margin-top: 5rem;
}

.certificates-description h3{
    font-size: 2rem;
    font-weight: bolder;
    margin: 0;
    text-align: left;
}

.certificates-description h5{
    color: gray;
    font-size: 1.2rem;
    font-weight: lighter;
    margin-top: 1rem;
    margin-bottom: 1rem;
    text-align: left;
}

.certificates-description p{
    text-align: left;
    font-size: 1.2rem;
}