.introduction-section{
    margin: 4rem auto 0 auto;
    display: flex;
    justify-content: stretch;
    width: 100%;
    background-color: red;
    height: 35rem;
}
.introduction-article{
    height: 30rem;
    width: 32rem;
    min-height: 10rem;
    background-color: green;
}
.tech-stack-article{
    height: 20rem;
    width: 50rem;
    min-height: 10rem;
    background-color: yellow;
}

.name{
    color: #EC4899;
}

.introduction{
    font-weight: bolder;
    font-size: 2.5rem;
    line-height: 3rem;
}

.introduction-description{
    font-size: 2rem;
    font-weight: 700;
    line-height: 3rem;
}

.introduction-description span{
    color: #16F2B3;
    font-weight: 700;
    font-size: 2.5rem;
}

.introduction-socials{
    display: flex;
    gap: 1rem;
    justify-content: left;
    margin-top: 1.5rem;
    flex-direction: row;
}

.introduction, .introduction-description{
    text-align: left;
}

.icon{
    color: #EC4899;
    font-size: 1.9rem;
    width: auto;
    transition: transform 0.3s ease-in-out;
}






