.introduction-section{
    margin: 4rem auto 0 auto;
    display: flex;
    justify-content: stretch;
    width: 70%;
    height: 35rem;
}
.introduction-article{
    height: 30rem;
    width: 32rem;
    min-height: 10rem;
}
.tech-stack-article{
    height: 20rem;
    width: 50rem;
    min-height: 10rem;
}

.name{
    color: #EC4899;
}

.introduction{
    font-weight: bolder;
    font-size: 2.5rem;
    line-height: 3rem;
}

.introduction-description{
    font-size: 2rem;
    font-weight: 700;
    line-height: 3rem;
}

.introduction, .introduction-description{
    text-align: left;
}

.introduction-description span{
    color: #16F2B3;
    font-weight: 700;
    font-size: 2.5rem;
}

.introduction-socials{
    display: flex;
    gap: 1rem;
    justify-content: left;
    margin-top: 1.5rem;
    flex-direction: row;
}

.icon{
    color: #EC4899;
    font-size: 1.9rem;
    width: auto;
    transition: transform 0.3s ease-in-out;
}

.introduction-section .bi-linkedin, .introduction-section .bi-github, .introduction-section .bi-twitter-x {
    font-size: 1.3rem;
    padding: 0.5rem;
    border-radius: 50%;
    background-color: #EC4899;
    color: white;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 2.5rem;
    height: 2.3rem;
    transition: transform 0.7s ease, background-color 0.3s ease;
}


@media (max-width: 891px) {
    .introduction-container {
        flex-direction: column;
        align-items: flex-end;
    }
    .introduction-section {
        flex-direction: column !important;
        justify-content: center !important;
        height: auto;
        margin-bottom: 10rem;
    }
    .breakline-1, .breakline-2 {
        display: none;
    }
    .introduction-greeting{
        max-width: 33.5rem;
    }

    .introduction-article{
        max-width: 50rem;
        max-height: 20rem;
    }
}

@media (min-width: 537px) and (max-width: 891px) {
    .introduction-section {
        height: auto;
    }

    .introduction-article{
        max-width: 50rem;
        max-height: 20rem;
    }
}

@media (min-width: 600px) and (max-width: 700px) {
    .introduction-section{
        margin-left: 3rem !important;
    }
}

@media (min-width: 520px) and (max-width: 600px) {
    .introduction-section{
        margin-left: 1rem !important;
    }

    .introduction-greeting{
        max-width: 30.5rem;
    }
}

@media (min-width: 440px) and (max-width: 519px) {
    .introduction-section{
        margin-left: 1rem !important;
        background-color: red;
    }

    .introduction-greeting{
        max-width: 29rem;
    }
}

@media (max-width: 439px) {
    .introduction-section{
        margin-left: 1rem !important;
    }

    .introduction-greeting{
        max-width: 23rem;
    }

    .introduction-article{
        max-width: 29.2rem !important;
    }
}


