.education-section {
    margin-top: 5rem;
    position: relative;
    overflow: hidden;
}

.education-title-container {
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: rgb(37, 31, 75);
    width: 5.5rem;
    height: 2.8rem;
    margin: 0 auto;
    border-radius: 5px;
    font-weight: calc(550);
}

.education-title-container::before {
    content: "";
    position: absolute;
    top: 50%;
    width: 18rem;
    height: 2px;
    background: rgb(37, 31, 75);
    z-index: -1;
}

.education-section .title-container{
    width: 6rem !important;
}

.education-background{
    position: absolute;
    top: 0;
}

.education-main{
    display: grid;
    grid-template-columns: auto auto;
    justify-items: center;
    gap: 0;
}

.education-cell-one{
    height: 22rem;
    width: auto;

}
.education-cell-two{
    height: 20rem;
    width: 39rem;
    display: flex;
    align-items: center;
}

@keyframes rotateWave {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

@media(max-width: 1000px) {
    .education-cell-two{
        display: flex;
        justify-content: center;
    }

    .education-main{
        display: flex;
        justify-content: center;
    }

    .education-cell-one{
        display: none;
    }

    .education-cell-two{
        display: flex;
        align-items: center;
        flex-direction: column;
    }
}

@media(min-width: 450px) and (max-width: 650px) {
    .education-section card{
        width: 30rem !important;
    }

    .education-section .card{
        width: 30rem !important;
    }
}


@media (max-width: 449px) {

    .experience-section-cell2{
        width: 26rem !important;
    }

    .experience-section .card{
        width: 26rem !important;
    }
}





