.logo{
    height: 1.5rem;
    width: auto;
    padding: 0;
}

.navbar{
    border-bottom: 1px solid white;
    backdrop-filter: blur(2px);
    z-index: 1000;
    -webkit-backdrop-filter: blur(2px);
}

.navbar-item{
    height: 2.35rem;
}

.navbar .nav-link:hover{
    background-color: rgba(255, 255, 255, 0.24);
    border-radius: 0.3rem;
}

.navbar-name{
    padding-left: 1rem;
    padding-right: 8rem;
    font-weight: 550;
}

.nav-link{
    color: white;
}