.logo{
    height: 1.5rem;
    width: auto;
    padding: 0;
}

.navbar{
    border-bottom: 2px solid white;
}

.navbar-item{
    color: white;
}

.navbar-name{
    padding-left: 1rem;
    padding-right: 8rem;
}