.logo{
    font-size: 1.5rem;
    color: white;
    padding: 0;
    -webkit-text-stroke: 1px white;
    transition: transform 0.4s ease;
    align-self: center;
    position: absolute;
    left: 0;
    top: 25%;
}

.logo-name-container{
    position: relative;
    width: 10.5rem;
    height: 3.75rem;
}

.navbar-name{
    color: #16F2B3;
    position: absolute;
    right: 0;
    top: 33%;
}

.logo-name-container:hover .logo{
    transform: rotate(-25deg) scale(1.1);
}

.navbar{
    backdrop-filter: blur(2px);
    z-index: 1000;
    -webkit-backdrop-filter: blur(2px);
}

.navbar-item{
    height: 2.35rem;
}

.navbar .nav-link:hover{
    color: deeppink;
}

.navbar-name{
    padding-left: 0.4rem;
    font-weight: 550;
    align-self: center;
    margin: 0;
}

.nav-link{
    color: white;
    transition: color 0.3s ease;
}

.bi-code-slash{
    height: 1.5rem;
    width: auto;
    color: white;
}